{{- if .Values.createNamespace }}
apiVersion: v1
kind: Namespace
metadata:
  name: {{ .Values.global.namespace }}
  labels:
    {{- include "bookmarker.labels" . | nindent 4 }}
    name: {{ .Values.global.namespace }}
    environment: {{ .Values.config.nodeEnv }}
{{- end }}
